body{ margin: 0px 0px 0px 0px;
      padding: 1px 2px 1px 2px;
      font-family: sans-serif;
      font-size: 14px;
      color: #616161; }
#body{ background-image: url("back.png");
       background-color: #FFFFFF; }
#head{ width: 100%;
       z-index: 1000;
       margin: 0px 0px 0px 0px;
       padding: 0px 0px 0px 0px; }
#logo{ position: absolute;
       top: 40px;
       left: 0px;
       width: 128px;
       height: 128px;
       background-image: url("logo.png");
       background-color: transparent;
       background-repeat: no-repeat; }
#logo:hover{ width: 128px;
             height: 128px;
             background-image: url("logo-hover.png");
             background-color: transparent;
             background-repeat: no-repeat; }
#noie{ position: absolute;
       top: 128px;
       left: 0px;
       width: 128px;
       height: 64px;
       color: #FF0000; }
#navi{ position: absolute;
       top: 40px;
       left: 128px;
       right: 256px;
       height: 128px;
       text-align: center; }
#gnueva{ width: 256px;
         height: 368px;
         position: absolute;
         top: 0px;
         right: 0px;
         float: right;
         margin: 0px;
         padding: 0px;
         z-index: 0;
         visibility: visible;
         background-image: url("gnueva.png");
         background-color: transparent;
         background-repeat: no-repeat; }
#lang{ position: absolute;
       top: 16px;
       left: 0px;
       right: 0px;
       height: 20px;
       text-align: center;
       font-weight: bold; }
.langlink,
.langlink:link,
.langlink:active,
.langlink:visited{ text-decoration: none;
                   color: #515151;
                   font-weight: bold; }
.langlink:hover{ text-decoration: blink;
                 color: #717171;
                 font-weight: bold; }
.langactv{ text-decoration: none;
           font-weight: bold; }
.headlink,
.headlink:link,
.headlink:active,
.headlink:visited{ text-decoration: none;
                   color: #515151; }
.headlink:hover{ text-decoration: none;
                 color: #717171; }
.head{ width: 224px;
       height: 14px;
       padding: 9px 0px 9px 32px;
       float: right;
       z-index: 100;
       background-image: url("button.png");
       background-color: transparent;
       background-repeat: no-repeat;
       border: none;
       font-size: 14px;
       font-weight: bold;
       text-align: center;
       color: #616161; }
.head:hover{ width: 224px;
             height: 14px;
             padding: 9px 0px 9px 32px;
             background-image: url("button-hover.png");
             background-color: transparent;
             background-repeat: no-repeat;
             border: none;
             font-size: 14px;
             font-weight: bold;
             text-align: center;
             color: #818181; }
.head:before { content: ".:: ";
               margin-left: 5px;
               text-align: right;
               text-decoration: none; }
.head:after { content: " ::.";
              margin-right: 5px;
              text-align: right;
              text-decoration: none; }
.head_active{ width: 224px;
              height: 14px;
              padding: 9px 0px 9px 32px;
              float: right;
              z-index: 100;
              background-image: url("button-hover.png");
              background-color: transparent;
              background-repeat: no-repeat;
              border: none;
              font-size: 14px;
              font-weight: bold;
              text-align: center;
              color: #818181; }
.head_active:before { content: "..::: ";
                      margin-left: 5px;
                      text-align: right;
                      text-decoration: none; }
.head_active:after { content: " :::..";
                     margin-right: 5px;
                     text-align: right;
                     text-decoration: none; }
#cont{ position: absolute;
       top: 256px;
       left: 20px;
       right: 20px;
       margin: 0px 0px 0px 0px;
       padding: 0px 0px 0px 0px;
       border: none; }
#page{ width: 100%;
       height: 100%;
       margin: 0px 0px 0px 0px;
       padding: 0px 0px 0px 0px;
       border: none;
       background-color: transparent; }
h1{ font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #616161; }
h1:before{ content: ".:: ";
           margin-left: 5px;
           text-align: right;
           text-decoration: none; }
h1:after{ content: " ::.";
          margin-right: 5px;
          text-align: right;
          text-decoration: none; }
h2{ font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #717171; }
h3{ padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #818181; }
p{ margin: 20px 30px 20px 30px;
   font-size: 14px;
   font-weight: normal;
   text-align: left;
   color: #616161; }
p.post{ font-size: 12px;
        font-weight: normal;
        text-align: right;
        color: #515151; }
p.code{ font-size: 13px;
        padding: 20px 40px 20px 40px;
        color: #513151;
        border: 1px dashed #C0C0C0; }
#scrshot{ padding: 20px 30px 20px 30px;
          text-align: center;
          width: 640px; height:480px; }
.scrsimg{ padding: 2px 2px 2px 2px;
          border: solid 2px #232323;
          width: 640px; height:480px; 
          }
.scrstext{ background-color: transparent;
           border: none; width: 480px; }
.scrsctrl,
.scrsctrl:link,
.scrsctrl:active,
.scrsctrl:visited{ font-size: 256px;
                   text-decoration: none;
                   color: #B0B0B0; }
.scrsctrl:hover{ font-size: 256px; text-decoration:blink; }
#news{ padding: 20px 40px 20px 40px;
       text-align: center; }
.newsitem{ margin-left: 100px;
           margin-bottom: 10px; }
.newsdate{ font-weight: bold;
           padding-right: 20px;
           padding-top: 0px;
           vertical-align: top;
           border-right: solid 2px #232323; }
.newstext{ font-style: italic;
           padding-left: 20px;
           padding-top: 20px;
           text-align: left; }
a,a:link,a:active,a:visited{ color: #731172; }
a:hover{ color: #A00000; }

#index{ padding: 20px 40px 20px 40px;
        color: #513151;
        border: 1px solid #C0C0C0; }
.bookindex{ text-align: left; }
.bookitem{ text-align: left; }
.bookitem:hover{ }
.bookitem:before{ content: "";
                  margin-left: 32px;
                  text-align: right;
                  text-decoration: none; }
.bookitem:after{ content: "";
                 margin-left: 5px;
                 text-align: right;
                 text-decoration: none; }
h1.bookitem{ font-size: 16px; }
h2.bookitem{ font-size: 12px; }
h3.bookitem{ font-size: 10px; }
h4.bookitem{ font-size:  9px; }
h5.bookitem{ font-size:  8px; }
h6.bookitem{ font-size:  7px; }
.bookitemlink,
.bookitemlink:link,
.bookitemlink:active,
.bookitemlink:visited{ text-align: left;
                       text-decoration: none;
                       color: inherit; }
.bookitemlink:hover{ text-decoration: none;
                     color: inherit;
                     border: 1px; }
.bookreturn{ text-align: center;
             font-weight: bolder; }
